@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button:hover {
    cursor: pointer;
}

.header {
    height: 90px;
    font-size: 20px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 20px;
}

.nav-bar {
    height: 70px;
    width: 1100px;
    border: 3px gray solid;
    border-radius: 50px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.homescreen-container {
    min-height: 5000px;
    width: 100%;
}

.home-section-1 {
    height: 800px;
    width: 100%;
    padding-left: 3%;
    display: flex;
    align-items: center;
    border: 3px solid white;
    background-image: linear-gradient(60deg, black, gray, black);
    background-size: 500% 500%;
    animation: animateGradient 15s infinite linear;
}

@keyframes animateGradient {
    0% {
        background-position: 0 80%;
    }

    50% {
        background-position: 100% 20%;
    }

    100% {
        background-position: 0% 85%;
    }
}

.home-section-1 img {
    height: 250px;
}

.img1 {
    animation-name: move1;
    animation-duration: 5s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}

@keyframes move1 {
    0% {
        transform: translate(0, 0);
    }

    33% {
        transform: translate(50px, -75px);
    }

    66% {
        transform: translate(-50px, -75px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.img2 {
    animation-name: move2;
    animation-duration: 5s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}

@keyframes move2 {
    0% {
        transform: translate(0, 0);
    }

    33% {
        transform: translate(-50px, -75px);
    }

    66% {
        transform: translate(50px, -75px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.pics-container {
    height: 600px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.intro-container {
    height: 500px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-container h1 {
    color: white;
    font-size: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-container h2 {
    font-size: 30px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-container span {
    color: lightseagreen;
}

.intro-para {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-para h6 {
    font-size: 16px;
    color: white;
    text-align: center;
}

.intro-button {
    height: 60px;
    width: 120px;
    border: 0px;
    border-radius: 40px;
    background-color: white;
    font-size: 15px;
    color: lightseagreen;
}

.auth-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-form {
    background-color: lightgray;
    margin: 10px;
    padding: 25px;
    border-radius: 20px;
}

.auth-form h2 {
    margin-bottom: 20px;
}

.auth-form form {
    width: 300px;
}

.auth-form div {
    margin-bottom: 15px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: deepskyblue;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.main-foot {
    background-color: black;
    position: relative;
    bottom: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly
    
}

.main-foot p {
    font-size: 20px;
    color: white;
}

.footer-icons {
    width: 300px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}
