@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.header {
    height: 90px;
}

.homescreen-container {
    min-height: 5000px;
}

.home-section-1 {
    height: 800px;
    background-image: linear-gradient(60deg, black, gray, black);
    background-size: 500% 500%;
    animation: animateGradient 10s infinite linear;

}

@keyframes animateGradient {
    0% {
        background-position: 0 80%;
    }

    50% {
        background-position: 100% 20%;
    }

    100% {
        background-position: 0% 85%;
    }
}

footer {
    bottom: 0px;
    background-color: black;
    height: 200px;
}

.main-foot {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly
    
}

.main-foot p {
    font-size: 20px;
}

.main-foot p {
    color: white;
}

.footer-icons {
    width: 300px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}
